<!DOCTYPE html>
<html lang="nl">
<head>
  <% include partials/meta %>
  <link rel="stylesheet" href="/home.css">
  <script src="/home.js" defer></script>
</head>
<body class="home">
  <% include partials/header %>
  <main>
    <form action="/" method="get">
      <fieldset>
        <ul>
          <li>
            <label>
              <input type="checkbox" name="categories[]" value="development" <%= filterOptions.categories.includes('development') ? 'checked' : false %>/>
              <span>Development</span>
              <p>Frontend, Backend, Mobile, DevOps</p>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" name="categories[]" value="design" <%= filterOptions.categories.includes('design') ? 'checked' : false %>/>
              <span>Design</span>
              <p>Interaction, UX, Visual Interface, DTP</p>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" name="categories[]" value="motion" <%= filterOptions.categories.includes('motion') ? 'checked' : false %>/>
              <span>Motion</span>
              <p>Motion Design, Film &amp; TV, (3D-) Animatie</p>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" name="categories[]" value="business" <%= filterOptions.categories.includes('business') ? 'checked' : false %>/>
              <span>Business</span>
              <p>Project Management, Strategie, Sales</p>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" name="categories[]" value="content" <%= filterOptions.categories.includes('content') ? 'checked' : false %>/>
              <span>Content</span>
              <p>Marketing, Copywriting, Journalistiek</p>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" name="categories[]" value="growth" <%= filterOptions.categories.includes('growth') ? 'checked' : false %>/>
              <span>Growth</span>
              <p>Webanalytics, A/B-test, SEO, SEA</p>
            </label>
          </li>
        </ul>
      </fieldset>
      <div data-root>
        <%- html %>
      </div>
      <fieldset>
        <fieldset>
          <legend>Zoeken</legend>
          <input type="search" name="q" value="<%= filterOptions.q ? filterOptions.q : '' %>" />
        </fieldset>
        <fieldset>
          <legend>Grootte bedrijf</legend>
          <label><input type="checkbox" name="size[]" value="small" <%= filterOptions.size === 'small' ? 'checked' : false %>/>Klein (< 20)</label>
          <label><input type="checkbox" name="size[]" value="medium" <%= filterOptions.size === 'medium' ? 'checked' : false %>/>Midden (21 - 100)</label>
          <label><input type="checkbox" name="size[]" value="large" <%= filterOptions.size === 'large' ? 'checked' : false %>/>Groot (> 100)</label>
        </fieldset>
        <fieldset>
          <legend>Type bedrijf</legend>
          <label><input type="checkbox" name="type[]" value="startup" <%= filterOptions.type.includes('startup') ? 'checked' : false %>/>Start-up</label>
          <label><input type="checkbox" name="type[]" value="online-agency" <%= filterOptions.type.includes('online-agency') ? 'checked' : false %>/>Online agency</label>
          <label><input type="checkbox" name="type[]" value="advertising-agency" <%= filterOptions.type.includes('advertising-agency') ? 'checked' : false %>/>Advertising agency</label>
          <label><input type="checkbox" name="type[]" value="brand" <%= filterOptions.type.includes('brand') ? 'checked' : false %>/>Merk</label>
        </fieldset>
        <fieldset>
          <legend>Locatie</legend>
          <select name="location">
            <option value="">Selecteer een stad</option>
            <option value="Amsterdam" <%= filterOptions.location === 'Amsterdam' ? 'selected' : false %>>Amsterdam</option>
            <option value="Amsterdam-Duivendrecht" <%= filterOptions.location === 'Amsterdam-Duivendrecht' ? 'selected' : false %>>Amsterdam-Duivendrecht</option>
            <option value="Amsterdam-Zuidoost" <%= filterOptions.location === 'Amsterdam-Zuidoost' ? 'selected' : false %>>Amsterdam-Zuidoost</option>
            <option value="Eindhoven" <%= filterOptions.location === 'Eindhoven' ? 'selected' : false %>>Eindhoven</option>
            <option value="Haarlem" <%= filterOptions.location === 'Haarlem' ? 'selected' : false %>>Haarlem</option>
            <option value="Heerenveen" <%= filterOptions.location === 'Heerenveen' ? 'selected' : false %>>Heerenveen</option>
            <option value="Rotterdam" <%= filterOptions.location === 'Rotterdam' ? 'selected' : false %>>Rotterdam</option>
            <option value="Soest" <%= filterOptions.location === 'Soest' ? 'selected' : false %>>Soest</option>
            <option value="Utrecht" <%= filterOptions.location === 'Utrecht' ? 'selected' : false %>>Utrecht</option>
          </select>
        </fieldset>
        <button type="submit">Zoeken</button>
      </fieldset>
    </form>
  </main>
  <% include partials/footer %>
  <script>var __results__ = <%- JSON.stringify(results) %></script>
</body>
</html>
